<nav class="navbar">
    <div class="nav-logo">
        <span><a>LayerTech</a></span>
    </div>

    <div class="nav-items">
        <ul>
            <a href="./inventory"><li>Inventory</li></a>
            <a href="./home"><li>Sign-out</li></a>
        </ul>
    </div>
</nav>
