<nav class="navbar">
    <div class="nav-logo">
        <span>LayerTech</span>
    </div>

    <div class="nav-items">
        <ul>
            <li>Inventory</li>
            <li>Sign-out</li>
        </ul>
    </div>
</nav>