<nav class="navbar">
    <div class="nav-logo">
        <a href='/home'>
            <img src="/assets/logo1.png" class="img-rounded" style="height:40px;">
        </a>
    </div>

    <div class="nav-items">
        <ul>
            
            <li><a href='/home'>Home</a></li>
            <li><a href='/inventory'>Inventory</a></li>
            <li><a href='/logout'>Sign out</a></li>
        </ul>
    </div>
</nav>
