{{#section 'header'}}
    <title>Home</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/home.css">
    <script src='time.js'></script>
{{/section}}

<!-- Event Image Header -->
<header class="container">
    <div class = "container-fluid org-header">
        <div class = "jumbotron jumbotron-fluid custom-jumbotron pb-1 mb-0">
            <div class ="inner-header">
                <h1 class="ml-3 header-name">Dashboard</h1>
            </div>
        </div>
    </div>
     <div class="adjustment">
        <p>Hello! Welcome to your dashboard. Today is : <span id="datetime"></span>. Here, you can check out the pages you can navigate to as well as a summary of your products' status.</p>
    </div>
</header>
<!-- Notification -->
<div class="container adjustment">
    <div>
        <p class="mb-0">Alerts</p>  
        <span>This section shows the different products you have that might be expiring soon.</span>
    </div>
    <div class="alerts">
        <ul>
            {{#if rawCount}}
                <li style="background-color: aquamarine;">Raw Materials: You have {{rawCount}} item/s about to expire</li>
            {{/if}}
            {{#if expiredRaw}}
                <li style="background-color: bisque;">Raw Materials: You have {{expiredRaw}} item/s that are expired</li>
            {{/if}}
            {{#if productCount}}
                <li style="background-color: aquamarine;">Products: You have {{productCount}} item/s about to expire</li>
            {{/if}}
            {{#if expiredProd}}
                <li style="background-color: bisque;">Products: You have {{expiredProd}} item/s that are expired</li>
            {{/if}}
            <!--
            <li style="background-color: rgb(233, 127, 127);">Transactions: You have 3 items about to expire</li>
            -->
        </ul>
    </div>
</div>
<!-- Pages -->
<div class="container adjustment">
    <div class="pb-4">
        <div>
            <p class="mb-0">Quick Navigation</p>
            <span>Click on one of these cards to navigate to the database.</span>
        </div>
        <div class="row">
            <a href="/suppliers" class="col-sm">
                <span>
                    Suppliers
                </span>
            </a>
            <a href="/raw" class="col-sm">
                <span>
                    Raw Materials
                </span>
            </a>
            <a href = "/inventory" class="col-sm">
                <span>
                    Products
                </span>
            </a>
        </div>
        <div class="row" style="margin-top: 14px;">
            <a href="/transactions" class="col-sm">
                <span>
                    Transactions
                </span>
            </a>
            <div class="col-sm to-add">
                <span>
                    Coming Soon
                </span>
            </div>
            <div class="col-sm to-add">
            <span>
                    Coming Soon
                </span> 
            </div>
        </div>
    </div>
</div>