{{#section 'header'}}
    <title>LayerTech</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/home.css">
{{/section}}

<!-- Event Image Header -->
<header class="container">
    <div class = "container-fluid org-header">
        <div class = "jumbotron jumbotron-fluid custom-jumbotron pb-1 mb-0">
            <div class ="inner-header">
                <h1 class="ml-3 header-name">Dashboard</h1>
            </div>
        </div>
    </div>
     <div>
        <p>Hi, Juan Marcelo! Welcome to your dashboard. Here, you can check out the pages you can navigate to as well as a summary of your products' status.</p>
    </div>
</header>
<!-- Notification -->
<div class="container">
    <div>
        <p>Alerts</p>  
    </div>
    <div>
        <ul>
            <li>Raw Materials: You have 3 items about to expire</li>
            <li>Products: You have 3 items about to expire</li>
            <li>Transactions: You have 3 items about to expire</li>
        </ul>
    </div>
</div>
<!-- Pages -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            Transactions
        </div>
         <div class="col-sm">
            Raw Materials
        </div>
         <div class="col-sm">
            Products
        </div>
    </div>
</div>
