{{#section 'header'}}
    <title>LayerTech</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/home.css">
{{/section}}

<!-- Event Image Header -->
<header class="container">
    <div class = "container-fluid org-header">
        <div class = "jumbotron jumbotron-fluid custom-jumbotron pb-1 mb-0">
            <div class ="inner-header">
                <h1 class="ml-3 header-name">Dashboard</h1>
            </div>
        </div>
    </div>
     <div class="adjustment">
        <p>Hi, Juan Marcelo! Welcome to your dashboard. Today is August 31, 2020 and the time is 21:48. Here, you can check out the pages you can navigate to as well as a summary of your products' status.</p>
    </div>
</header>
<!-- Notification -->
<div class="container adjustment">
    <div>
        <p>Alerts</p>  
        <span>Add a description here</span>
    </div>
    <div class="alerts">
        <ul>
            <li style="background-color: aquamarine;">Raw Materials: You have 3 items about to expire</li>
            <li style="background-color: bisque;">Products: You have 3 items about to expire</li>
            <li style="background-color: rgb(233, 127, 127);">Transactions: You have 3 items about to expire</li>
        </ul>
    </div>
</div>
<!-- Pages -->
<div class="container adjustment">
    <div>
        <p>Quick Navigation</p>
        <span>Add a description here</span>
    </div>
    <div class="row">
        <div class="col-sm">
            <span>
                Transactions
            </span>
        </div>
         <div class="col-sm">
            <span>
                Raw Materials
            </span>
        </div>
         <div class="col-sm">
            <span>
                Products
            </span>
        </div>
    </div>
</div>
