.header-name {
    color: white;
    font-weight: 400;
    font-size: 50px;
}

.custom-jumbotron {
    background: linear-gradient(rgb(99 255 140 / 50%), rgb(158 226 176 / 50%)),
            url("../assets/birshtadt.jpg");
    background-position: center center;
    background-size: cover;
    height: 200px;
    border-radius: 0px 4px 4px;
}

.adjustment {
    padding: 0px 30px;
}

.alerts ul {
    padding-left: 0;
}

.alerts li {
    display: block;
    padding: 15px 25px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.adjustment div > p {
    font-size: 24px;
    font-weight: 700;
}

.col-sm {
    background: linear-gradient(rgb(99 255 140 / 50%), rgb(158 226 176 / 50%)),
    url("../assets/birshtadt.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 6px;
    min-height: 200px;
    margin: 0px 10;
    display: flex;
    color: white;
    font-weight: 700;
}

.col-sm > span {
    margin: auto;
}

.to-add {
    background: linear-gradient(#495057, #6c757d);
}
